nav {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  padding: 10px;
}

.btnNewTransaction {
  background-color: #199f67;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 1px 5px #72757e;
  color: #fffffe;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 9px 20px;
  width: 100%;
}

.divBtnNewTrans {
  margin-top: 10px;
  width: 90%;
}

.containerFilter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
}

.divBtnFilter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divBtnFilter button {
  background-color: #199f67;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 1px 5px #333436;
  color: #fffffe;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 7px 0;
  width: 23%;
}
