nav {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  padding: 82px 10px 10px;
}

.btnNewTransaction {
  background-color: #199f67;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 1px 5px #72757e;
  color: #fffffe;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 9px 20px;
  width: 100%;
}

.btnNewTransaction:hover {
  background-color: #167d51;
  transition: 0.5s;
}

.divBtnNewTrans {
  margin: 8px;
  width: 100%;
}

.containerFilter {
  align-items: flex-start;
  background-color: black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
}

.containerFilter p {
  color: #fffffe;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.divBtnFilter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divBtnFilter button {
  background-color: #72757e;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 1px 5px #2e2f30;
  color: #fffffe;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 7px 0;
  width: 23%;
}

.divBtnFilter button:hover {
  background-color: #199f67;
  transition: 0.5s;
}

@media screen and ( min-width : 500px ) {

  nav {
    padding-top: 116px;
  }
}

@media screen and ( min-width : 1200px ) {

  nav {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 1500px;
    padding: 120px 10px 10px;
  }

  .containerFilter {
    box-shadow: 2px 1px 5px #72757e;
    height: 120px;
    margin-top: 0;
  }

  .divBtnNewTrans {
    margin-left: 30px;
    width: 35%;
  }

  .divBtnNewTrans button {
    height: 117px;
    width: 100%;
  }
}
