.modal {
  align-items: center;
  background-color: rgba(66, 66, 66, 0.604);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  padding: 16px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.modal-main {
  align-items: center;
  background-color: black;
  border-radius: 12px;
  display: flex;
  height: 50%;
  justify-content: center;
  margin-right: 25px;
  max-width: 700px;
  padding: 16px;
  width: 90%;
}

.modal-children {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.modal-close {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  height: 30px;
  margin-left: -55px;
  margin-top: -305px;
  position: static;
  width: 30px;
}
