header {
  background-color: #16161a;
  border-bottom: solid 1px #ccc;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 7px rgb(254, 254, 254);
  display: flex;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.userInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 97%;
  justify-content: space-around;
  margin-left: 10px;
  width: 100%;
}

.userInfo h1 {
  font-size: 1.1rem;
  margin: 0;
}

.userInfo p {
  font-size: 0.9rem;
  margin: 0;
}

.containerLogout {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  width: 40%;
}

.btnLogout {
  background-color: #ec19bb;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 1px 5px #3f3f3f;
  color: #fffffe;
  cursor: pointer;
  font-size: 1.2rem;
}

.btnLogout p {
  margin: 0;
  padding: 10px 20px;
}

.btnLogout:hover {
  background-color: #a72689;
}

.showBalance {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  margin-right: 10px;
  min-width: 67px;
}

.showBalance:hover {
  cursor: pointer;
}

.showBalance p {
  margin: 0;
}
